<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Número <%= count %></title>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px; margin-left: 20px;;">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-h5="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </nav>
</head>
<body>
    <div class="container">
        <form action="/editar/<%= count %>" method="post">
            <% datos.forEach(dato => { %>
            <div class="card text-white bg-secondary mb-3" style="max-width: 80rem; margin-top: 50px;">
                <div class="card-header">
                    <div class="text-center">
                        <h2>Editando datos del participante (Nº de ticket <%= dato.numero %>)</h2>
                    </div>
                </div>
                <div class="card-body">
                </div>
                <div class="form-group" style="margin: 20px;" >
                    <h5>Nombre:</h5>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="<%= dato.nombre %>"  style="font-size: 20px;" required>
                </div>
                <div class="form-group" style="margin: 20px;" >
                    <h5 >Cédula:</h5>
                    <input type="text" class="form-control" id="cedula" name="cedula"  value="<%= dato.cedula %>" required  maxlength="8" minlength="6"  style="font-size: 20px;" pattern="[0-9]+" title="Ingresa solo números">
                  </div>
                  
                  <div class="form-group" style="margin: 20px;" >
                    <h5 >Teléfono:</h5>
                    <input type="text" class="form-control" id="telefono" name="telefono" value="<%= dato.telefono %>" required  maxlength="11" style="font-size: 20px;" minlength="10" pattern="[0-9]+" title="Ingresa solo números">
                  </div>
                  
                  <div class="form-group" style="margin: 20px;" >
                    <h5 >Dirección:</h5>
                    <textarea class="form-control" id="residencia" name="residencia" cols="30" rows="10" style="font-size: 20px;" ><%= dato.residencia %></textarea>
                  </div>
                  
                  <div class="form-group" style="margin: 20px;" >
                    <h5 >Número:</h5>
                    <input type="text" class="form-control" id="numero" name="numero"  style="font-size: 20px;" value="<%= count %>" readonly style="font-size: 20px;">
                  </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" style="margin: 20px;" type="submit">Editar</button>
                </div>
            </div>
            </form>
        <% }); %>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>