
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="css/estilos.css">
  <script src="/js/inicio.js"></script>
<style>
    .matriz {
  margin: 25px;
  border-collapse: collapse;
        }
        .matriz td {
      color: white;
      border: 1px solid black;
      padding: 5px;
      text-align: center;
      font-size: 20px;
      transition: transform 0.5s ease;
      user-select: none;
    }
    .floating-button {
      position: fixed;
      bottom: 20px;
      left: 20px;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 9999;
    }
    .navbar {
      font-size: 20px; 
    }
    .form-control {
      font-size: 20px;
      height: 45px; 
    }
    .btn {
      font-size: 20px; 
    }
    a{
     text-decoration: none; 
    }
.btn-info {
  border-radius: 20px;
  box-shadow: 0 0 0 0 orange 0.5, 0 0 0 0 cornflowerblue 0.5;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}

.btn-info svg {
  width: 32px;
  height: 32px;
}

.btn-info::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -100px;
  background: #26e07f;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  z-index: -1;
  transition: transform 0.5s ease;
}

.btn-info:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(83, 161, 191, 0.5), -10px 10px 25px 0 rgba(82, 159, 190, 0.7);
}

.btn-info:hover::after {
  transform: rotate(150deg);
}

.bi-arrow-up-short {
  font-weight: 800;
  font-size: 50px;
}

.btn-info {
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: inherit;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: -100%;
    width: 10%;
  }

  to {
    margin-left: 0%;
    width: 4.8%;
  }
}
@keyframes slideout {
  from {
    margin-left: 0%;
    width: 4.8%;
  }

  to {
    margin-left: -100%;
    width: 10%;
  }
}
  </style>
</head>
<head>
  <% let count = 1; %>
  <% let total = 0; %>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid align-items-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03" style="align-items: center;">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <form action="/guardar/" method="get" onsubmit="return validateAndSetFormAction()">
            <div class="input-group mb-3">
              <input class="form-control" placeholder="Seleccione los números" aria-describedby="button-addon2" required readonly type="text" name="count" id="count">
              <button class="btn btn-primary" type="submit" id="button-addon2">Llenar</button>
              <button class="btn btn-primary" type="button" onclick="deleteLastNumber()">Borrar</button>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a  class="nav-link" href="/participantes">Participantes</a>
        </li>
      </ul>
          <form class="d-flex">
            <div class="input-group mb-3">
              <input class="form-control" type="text" id="buscar" placeholder="Buscar número" min="1" max="10000" maxlength="5" minlength="1" aria-describedby="button-addon2">
              <button class="btn btn-primary" type="button" id="button-addon2" onclick="buscarNumero()">Buscar</button>
            </div>
          </form>
          <a href="/configuracion"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0,0,256,256" style="margin-bottom:15px;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(2,2)"><path d="M106.9,55.3c-0.8,-2.8 -1.8,-5.4 -3.2,-7.9l8.8,-8.8l-12.7,-12.6l-8.8,8.8c-4.9,-2.8 -10.5,-4.3 -16.3,-4.4l-3.2,-12l-17.3,4.6l3.2,12c-5,2.9 -9.1,7.1 -11.9,11.9l-12,-3.2l-4.5,17.4l12,3.2c0,2.8 0.4,5.6 1.1,8.4c0.8,2.8 1.8,5.4 3.2,7.9l-8.8,8.8l12.7,12.6l8.8,-8.8c4.9,2.8 10.5,4.3 16.3,4.4l3.2,12l17.3,-4.6l-3.2,-12c5,-2.9 9.1,-7.1 11.9,-11.9l12,3.2l4.6,-17.3l-12,-3.2c0,-2.9 -0.4,-5.7 -1.2,-8.5zM78.6,79.1c-8.4,2.2 -16.9,-2.7 -19.2,-11.1c-2.3,-8.4 2.7,-16.9 11.1,-19.2c8.4,-2.2 16.9,2.7 19.2,11.1c2.2,8.4 -2.8,17 -11.1,19.2z" fill="#cadbea"></path><path d="M96.9,55.3c-0.8,-2.8 -1.8,-5.4 -3.2,-7.9l8.8,-8.8l-12.7,-12.6l-8.8,8.8c-4.9,-2.8 -10.5,-4.3 -16.3,-4.4l-3.2,-12l-17.3,4.6l3.2,12c-5,2.9 -9.1,7.1 -11.9,11.9l-12,-3.2l-4.5,17.4l12,3.2c0,2.8 0.4,5.6 1.1,8.4c0.8,2.8 1.8,5.4 3.2,7.9l-8.8,8.8l12.7,12.6l8.8,-8.8c4.9,2.8 10.5,4.3 16.3,4.4l3.2,12l17.3,-4.6l-3.2,-12c5,-2.9 9.1,-7.1 11.9,-11.9l12,3.2l4.6,-17.3l-12,-3.2c0,-2.9 -0.4,-5.7 -1.2,-8.5zM68.6,79.1c-8.4,2.2 -16.9,-2.7 -19.2,-11.1c-2.3,-8.4 2.7,-16.9 11.1,-19.2c8.4,-2.2 16.9,2.7 19.2,11.1c2.2,8.4 -2.8,17 -11.1,19.2z" fill="#ffffff"></path><path d="M67.5,112.5c-1.3,0 -2.5,-0.9 -2.9,-2.2l-2.6,-9.8c-4.6,-0.3 -9.2,-1.6 -13.4,-3.6l-7.2,7.2c-1.2,1.2 -3.1,1.2 -4.2,0l-12.8,-12.7c-1.2,-1.2 -1.2,-3.1 0,-4.2l7.2,-7.2c-1,-2.1 -1.8,-4.3 -2.4,-6.5c-0.6,-2.3 -1,-4.6 -1.2,-6.9l-9.8,-2.6c-0.8,-0.2 -1.4,-0.7 -1.8,-1.4c-0.4,-0.7 -0.5,-1.5 -0.3,-2.3l4.6,-17.3c0.2,-0.8 0.7,-1.4 1.4,-1.8c0.7,-0.4 1.5,-0.5 2.3,-0.3l9.8,2.6c2.6,-3.9 5.9,-7.2 9.8,-9.8l-2.6,-9.8c-0.4,-1.6 0.5,-3.2 2.1,-3.7l17.3,-4.6c1.6,-0.4 3.2,0.5 3.7,2.1l2.6,9.8c4.6,0.3 9.2,1.6 13.4,3.6l7.2,-7.2c1.1,-1.1 3.1,-1.1 4.2,0l12.7,12.7c1.2,1.2 1.2,3.1 0,4.2l-7.2,7.2c1,2.1 1.8,4.3 2.4,6.5c0.6,2.3 1,4.6 1.2,6.9l9.8,2.6c1.6,0.4 2.5,2.1 2.1,3.7l-4.6,17.3c-0.2,0.8 -0.7,1.4 -1.4,1.8c-0.7,0.4 -1.5,0.5 -2.3,0.3l-9.8,-2.6c-2.6,3.9 -5.9,7.2 -9.8,9.8l2.6,9.8c0.4,1.6 -0.5,3.2 -2.1,3.7l-17.3,4.6c-0.2,0.1 -0.5,0.1 -0.7,0.1zM48,90.2c0.5,0 1,0.1 1.5,0.4c4.5,2.6 9.6,3.9 14.8,4c1.3,0 2.5,0.9 2.9,2.2l2.4,9.1l11.5,-3.1l-2.4,-9.1c-0.3,-1.3 0.2,-2.7 1.4,-3.4c4.5,-2.6 8.2,-6.4 10.8,-10.8c0.7,-1.2 2.1,-1.7 3.4,-1.4l9.1,2.4l3.1,-11.5l-9.1,-2.4c-1.3,-0.3 -2.2,-1.5 -2.2,-2.9c0,-2.6 -0.4,-5.2 -1,-7.7v0c-0.7,-2.5 -1.7,-4.9 -2.9,-7.2c-0.7,-1.2 -0.5,-2.6 0.5,-3.6l6.6,-6.6l-8.4,-8.4l-6.6,6.6c-1,1 -2.4,1.2 -3.6,0.5c-4.5,-2.6 -9.6,-3.9 -14.8,-4c-1.3,0 -2.5,-0.9 -2.9,-2.2l-2.4,-9.1l-11.7,3.2l2.4,9.1c0.3,1.3 -0.2,2.7 -1.4,3.4c-4.5,2.6 -8.2,6.4 -10.8,10.8c-0.7,1.2 -2.1,1.7 -3.4,1.4l-9.1,-2.4l-3.1,11.5l9.1,2.4c1.3,0.3 2.2,1.5 2.2,2.9c0,2.6 0.4,5.2 1,7.7c0.7,2.5 1.7,4.9 2.9,7.2c0.7,1.2 0.5,2.6 -0.5,3.6l-6.6,6.6l8.4,8.4l6.7,-6.6c0.6,-0.7 1.4,-1 2.2,-1zM64.5,82.7c-3.2,0 -6.4,-0.8 -9.3,-2.5c-4.3,-2.5 -7.4,-6.5 -8.7,-11.3c-1.3,-4.8 -0.6,-9.8 1.9,-14.2c2.5,-4.3 6.5,-7.4 11.3,-8.7c9.9,-2.7 20.2,3.3 22.9,13.2c1.3,4.8 0.6,9.8 -1.9,14.2c-2.5,4.3 -6.5,7.4 -11.3,8.7v0c-1.7,0.4 -3.3,0.6 -4.9,0.6zM68.6,79.1v0zM64.5,51.3c-1.1,0 -2.2,0.1 -3.3,0.4c-3.3,0.9 -6,3 -7.7,5.9c-1.7,2.9 -2.1,6.3 -1.3,9.6c0.9,3.3 3,6 5.9,7.7c2.9,1.7 6.3,2.1 9.6,1.3v0c3.3,-0.9 6,-3 7.7,-5.9c1.7,-2.9 2.1,-6.3 1.3,-9.6c-1.5,-5.6 -6.6,-9.4 -12.2,-9.4z" fill="#375a7f"></path></g></g>
            </svg></a>
 
    </div>
  </div>
</nav>
</head>
<body>
  
  
  <table class="matriz" style="display: flex; justify-content: center; align-items: center; margin: 25px;">      
    <% for (let i = 1; i <= size; i++) { %>
      <tr>
        <% for (let j = 1; j <= 25; j++) { %>
          <% let found = false; %>
          <% datos.forEach(dato => {  
            if (dato.numero == count) {
              found = true;
              total= total + 1 ;
            }
          }); %>
         <td class="matriz td" id="numero-<%= count %>" <% if (found) { %>style="background-color: #f39c12;"<% } else { %> onclick="addToCount(<%= count %>)" <% } %> >
          <a <% if (found) { %> href="/guardar/<%= count %>" <% } %> class="text-body"><%= count %></a>
        </td>
          <% count++; %>
        <% } %>
      </tr>
    <% } %>
    <p style="margin-left: 10px;"><%= total %>/<%= size * 25 %> tickets</p>
  </table>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<div id="scrollToTopBtn" onclick="scrollToTop()" class="btn btn-info" style="position: fixed; bottom: 20px; left: 20px; padding: 10px 20px; cursor: pointer; z-index: 9999; display: none;"> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5"/>
</svg> </div></body>
</html>